/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************************************
    Main Stylesheet
***************************************/
.container {
  margin: 0 auto;
  /* 0 on the top and bottom,automatic on the left and right (with centres the element in its parent ) */
  max-width: 900px;
  /*always have a maximum with to your site */
  background :lightgrey;
}

/******************************************************
         Nav styles
*******************************************************/

/*the >is the  "direct child" selecter -which means only select the element after if it is a direct child of the element before it.  In this case, only select the ul if it is a direct child of the nav element.  This is important because we have another ul in the footer and we don't want to style that one. */

nav > ul {
  display: flex;
	/*  one way to spread out the elements is justify content justify-content:space-between */
}

nav > ul > li {
	  flex-grow: 1;
  /* this means that each li will take up an equal amount of space in the nav bar */
 }

 nav > ul > li:first-child {
  /* this will affect only the first li */
  flex-grow: 3;
 }

 nav ul li ul {
  display: none;
 }
  
 nav ul a {
  padding: 5px;
  /* 1 value adds padding on all 4 sides of the element */
  display: block;
  /* this changes the anchor tags from incline to block ,so they will be as they can, and you can put padding on the top and bottom */
  background-color: rgb(241, 205, 234);
 }

 nav ul a:hover {
  background-color: rgb(241, 205, 234);
  /* this changes the background color of the anchor tag when you hover over it */
  color: rgb(255, 255, 255);
 }
 /*    dropdown code   */
 nav ul li ul {
  display: none;
   */
 } 
  /* you have to have a arent with position:relative to property contain anything with position: absolute */

 nav ul li:hover ul {
  display: block;
  /* this will make the dropdown menu appear when you hover over the parent li */
  position: absolute;
  /* this will make the dropdown menu appear on top of the other content */
 width: 100%;
  background-color: rgb(241, 205, 234);
  /* this will change the background color of the dropdown menu */
 }
 /*  logo / image size  */ 
 nav > ul >li:first-child a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* this will center the image in the li */
  height: 100%;
  /* this will make the li take up the full height of the nav */
 }


  